<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ClazzMapper">
    <!--    查询班级信息-->
    <select id="list" resultType="org.example.pojo.Clazz">
        select c.id, c.name, c.room, c.begin_date, c.end_date, c.master_id, c.subject, c.create_time, c.update_time, e.name  master_name from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end != null">
                and (c.begin_date between #{begin} and #{end}) and (c.end_date between #{begin} and #{end})
            </if>
        </where>
    </select>

</mapper>